version: 2.1

orbs:
  architect: giantswarm/architect@6.10.0

workflows:
  build:
    jobs:
    - architect/go-build:
        name: go-build
        binary: capa-iam-operator
        resource_class: large
        pre_test_target: generate
        test_target: test-unit
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        context: architect
        name: push-capa-iam-operator-to-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: capa-iam-operator
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-collection:
        name: capa-app-collection
        context: architect
        app_name: capa-iam-operator
        app_namespace: giantswarm
        app_collection_repo: capa-app-collection
        requires:
        - push-capa-iam-operator-to-app-catalog
        - push-to-registries
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/
